.LinksList {
  box-shadow: 0 4px 2px -2px #d3d3d3;
  padding-bottom: 15px;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.Links {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  padding-right: 10px;
  color: #000;
}
